* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-blue: #a6b0ff;
  --blue: #6775eb;
}

body {
  background: #d2d8ff;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background: var(--blue);
}
